<div class="row align-items-end">
  <div class="form-group col">
    <label for="name">Name</label> <input type="text" class="form-control" [(ngModel)]="searchDTO.name" name="name" />
  </div>
  <div class="form-group col">
    <label for="shortName">Short Name</label>
    <input type="text" class="form-control" [(ngModel)]="searchDTO.shortName" name="shortName" />
  </div>
  <div class="form-group col">
    <label for="type">Type</label>
    <select class="form-control" [(ngModel)]="searchDTO.type" name="type">
      <option [ngValue]="undefined" selected>Select Category</option>
      <option *ngFor="let sampleType of sampleKeys" [value]="sampleType">{{ sampleType | enum: 'SAMPLETYPE' }}</option>
    </select>
  </div>
  <div class="form-group col-auto"><button class="btn btn-success" (click)="doSearch()">Search</button></div>
</div>
<div class="row m-4">
  <h2 class="mr-4">Samples</h2>
  <button class="btn btn-primary" (click)="doNew()"><i class="fa fa-plus"></i> Add New Sample</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Short Name</th>
      <th scope="col">Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sample of samples; let index = index">
      <th scope="row">{{ index + 1 }}</th>
      <td>{{ sample.name }}</td>
      <td>{{ sample.shortName }}</td>
      <td>{{ sample.type | enum: 'SAMPLETYPE' }}</td>
      <td>
        <button class="btn btn-secondary mr-2" (click)="doEdit(sample)"><i class="fa fa-edit"></i> Edit</button>
        <button class="btn btn-danger mr-2" (click)="doDelete(sample)"><i class="fa fa-trash"></i> Delete</button>
      </td>
    </tr>
  </tbody>
</table>
