.text-center{
  margin-top: 3%;
  font-style: Arial;
  margin-bottom: 3%;
}

.btn{
  padding: 5px;
  width: 100%;
}

.form-group{
  font-size: 0.35cm;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gray;
}
