<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <app-navigation></app-navigation>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-light">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
